.title {
  border-radius: 10px;
  margin-bottom: 10px;
  text-align: center;
  font-size: 36px;
  width: 1345px;
  color: #000000;
  background-color: #ff7e3b;
  border: solid #ffffff 5px;
}
input[type="button"] {
  border-radius: 10px;
  background-color: #f72640;
  color: #ffffff;
  font-size: 26px;
  border-color: #000000;
  width: 100%;
}
input[type="text"] {
  border-radius: 10px;
  text-align: right;
  background-color: white;
  border-color: black;
  width: 100%;
  font-size: 20px;
}
